In [40]:
# codes from https://kavita-ganesan.com/tfidftransformer-tfidfvectorizer-usage-differences/#.XvENfmpKg6U

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
text = [
     'This is the first document.',
     'This document is the second document.',
     'And this is the third one.',
     'Is this the first document?']
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names())
print(X.shape)

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
(4, 9)

In [41]:
cv=CountVectorizer()

In [42]:
word_count_vector=cv.fit_transform(text)

In [43]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [44]:
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"])
 
# sort ascending
df_idf.sort_values(by=['idf_weights'])

          idf_weights
is           1.000000
the          1.000000
this         1.000000
document     1.223144
first        1.510826
and          1.916291
one          1.916291
second       1.916291
third        1.916291